:root {
	--clr-neon: rgba(235, 97, 143, 1);
	--clr-bg: rgba(1, 1, 1, 1);
	--clr-white: rgba(255, 255, 255, 1);
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}
.good_luck {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    width: auto;
    height: 70px;
    padding: 30px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav #element {
    font-size: 70px;
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 5px gray;
}
.imgchangebtn {
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    box-shadow: 0 3px 0 rgb(102, 102, 102);
}
.imgchangebtn:hover {
    background-color: rgb(201, 200, 200);
}
.imgchangebtn:active {
    transform: translateY(4px);
    box-shadow: 0 3px 0 rgb(102, 102, 102);
}
.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
}
.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 249, 233, 0.5);
    border-radius: 20px;
    padding: 50px;
}
.description {
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}
.description img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.list {
    width: 60%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
.todo {
    width: 40%;
    height: 20%;
    padding: 5%;
    font-size: 30px;
}
.exercise {
    width: 40%;
    height: 30%;
    padding: 5%;
}
.study {
    width: 40%;
    height: 20%;
    padding: 5%;
}
.shopping {
    width: 40%;
    height: 20%;
    padding: 5%;
}
.appointment {
    width: 40%;
    height: 20%;
    padding: 5%;
}
.clock {
    font-size: 130px;
    margin: 20px;
    -webkit-text-stroke: 2px black;
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.login-form .name {
    width: 250px;
    height: 30px;
    outline: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
.login-form .login {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
#greeting {
    font-size: 50px;
    margin: 20px;
    color: black;
}
#todo-form input {
    width: 300px;
    height: 30px;
    outline: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
#todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    width: 400px;
    height: 300px;
    -webkit-text-stroke: 0.5px black;
}
#todo-list li{
    padding: 3px;
}
#todo-list button{
    margin-left: 10px;
}
#todo-list button {
    width: 50px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
#todo-list button:hover {
    background-color: #e5ab2e;
    box-shadow: 0px 15px 20px rgba(229, 211, 46, 0.4);
    color: #fff;
    transform: translateY(-5px);
}
#quote {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.hidden {
    display: none;
}
a {
    text-decoration: none;
}
@media screen and (max-width: 1800px) {
    .nav #element {
        font-size: 60px;
    }
    .imgchangebtn {
        font-size: 25px;
    }
    #greeting {
        font-size: 35px;
        margin: 15px;
    }
    .clock {
        font-size: 120px;
    }
    #todo-form input {
        width: 250px;
        height: 25px;
        font-size: 17.5px;
        margin-bottom: 15px;
    }
    #todo-list {
        font-size: 25px;
        margin-bottom: 45px;
        height: 275px;
    }
    #quote {
        font-size: 22.5px;
    }
}
@media screen and (max-width: 1600px), (max-height: 1000px) {
    .nav #element {
        font-size: 50px;
    }
    .imgchangebtn {
        font-size: 20px;
    }
    #greeting {
        font-size: 30px;
        margin: 10px;
    }
    .clock {
        font-size: 110px;
    }
    #todo-form input {
        width: 200px;
        height: 20px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    #todo-list {
        font-size: 20px;
        margin-bottom: 40px;
        height: 250px;
    }
    #quote {
        font-size: 20px;
    }
}
@media screen and (max-width: 1400px), (max-height: 800px) {
    .nav #element {
        font-size: 40px;
    }
    .imgchangebtn {
        font-size: 20px;
    }
    #greeting {
        font-size: 25px;
        margin: 5px;
    }
    .clock {
        font-size: 100px;
    }
    #todo-form input {
        width: 150px;
        height: 15px;
        font-size: 12.5px;
        margin-bottom: 5px;
    }
    #todo-list {
        font-size: 15px;
        margin-bottom: 35px;
        height: 235px;
    }
    #quote {
        font-size: 17.5px;
    }
}
@media screen and (max-width: 1300px), (max-height: 800px) {
    .nav #element {
        font-size: 35px;
    }
    .imgchangebtn {
        font-size: 15px;
    }
    #greeting {
        font-size: 20px;
        margin: 5px;
    }
    .clock {
        font-size: 70px;
    }
    #todo-form input {
        width: 115px;
        height: 10px;
        font-size: 10px;
        margin-bottom: 2.5px;
    }
    #todo-list {
        font-size: 10px;
        margin-bottom: 20px;
        height: 200px;
    }
    #quote {
        font-size: 12.5px;
    }
}